@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}

#logo {
    width: 15em;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31em;
}

#searchProduct {
    outline: none;
    border: 2px solid rgb(193, 193, 193);
    border-radius: 5px;
    font-size: 18px;
    padding: .5em;
}

.btn {
    font-size: 1em;
    border-radius: 5px;
    padding: .8em 1.5em;
    cursor: pointer;
    border: none;
    background-color: rgb(21, 21, 21);
    color: white;
}

.btn:hover {
    background-color: rgb(62, 62, 62);
}

.addtocart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(222, 222, 222);
    padding: .8em;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.addtocart:hover {
    background-color: rgb(208, 208, 208);

}

.addtocart > span{
    margin-left: .6em;
}


.productCatogary {
    margin: 2em 0 0 0;
    padding-left: 3em;
    background-color: rgb(245, 245, 245);
}

.productCatogary a {
    text-decoration: none;
    margin-right: 1em;
    padding: 1em 2em;
    border-radius: 5px;
    color: black;
    
    background-color: rgb(199, 233, 255);
}
.productCatogary a:hover {
    background-color: rgb(184, 228, 255);
}


/* Main */


/* table */
.container {
  margin: 3em;
}


#customers {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;

}

#customers td, #customers th {
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6ac3ff;
  color: white;
}


/* Checkout */

.checkout__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#totalprice {
  outline: none;
  border: 2px solid rgb(193, 193, 193);
  border-radius: 5px;
  font-size: 18px;
  padding: .5em;
}




/* Footer */

#footer-div {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 3em;
  margin: 5em 3em 3em 3em;
  padding: 2em;
  
  background-color: #e9e9e9;
  border-radius: 10px;
}

.about-blog {
  display: flex;
  flex-direction: column;
}
.about-blog a{
  text-decoration: none;
  padding: .5em;
  color: black;
}
.about-blog a:hover{
  background-color: #e3e3e3;

}

#social-icon {
  text-align: right;
}
.fa{
  text-decoration: none;
  font-size: 30px;
  margin: 0 .3em;
  color: #2a2a2a;
  border-radius: 50%;

  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}

.fa:hover{
  background-color: rgb(185, 185, 185);
}

.fa-facebook:hover {
  color: blue;
}
.fa-twitter:hover {
  color: rgb(29, 161, 242);
}
.fa-instagram:hover {
  color: rgb(200, 0, 255);
}